<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Electro_Enthusiast</title>
     <link rel="stylesheet" href="../../stylesheets/style.css">

 </head>

<body>
  <div class="wrapper">
    {{!-- <header>
      <h1>
        <a href="/">Electro_Enthusiast</a>
      </h1> --}}
      <nav>
       {{#if loggedIn}}
       <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{/if}}
      </nav>
    </header>
  <div class=""></div>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Come back soon!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>

  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>