
  <section class="posts">
    <h2>Create New Post</h2>
    <form class="new-post-form">
    <div>
      <label for="title">Title</label>
      <input type="text" id="title" name="title" />
    </div>
     <div>
        <label for="post_content">Post Content</label>
      <input class="textarea" name="post_content" type="text" value="{{post_content}}" />
    </div>
    <div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<div class="col-sm-9" id="posts">
  <h4>Your Posts</h4>
  <ol class="post-list">
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}


<section class="posts">
  <h2>All Posts</h2>
    <ol class="post-list">
      {{#each posts as |post|}}
    <li>
      {{> post-info post }}
    </li>
{{else}}
<h6 class="pb-4 has-text-centered is-italic">there are currently no posts</h6>
{{/each}}
</ol> 
  </section>
  
  {{!-- <section class="posts">
    <h2>Create New Post</h2>
    <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
     <div>
        <label for="post-content">Post Content</label>
      <input class="textarea" name="post-content" type="text" value="{{post_content}}" />
    </div>
    <div>
    <button type="submit" class="btn">Create</button>
  </form>
</section> --}}
<script src="/javascript/add-post.js"></script>

