
  <section class="posts">
     <h2>Create New Post</h2>
    <form class="new-post-form">
      <label for="post-title">Title</label>
      <input class="textarea" type="text" id="post-title" name="post-title" />
        <label for="post-content">Post Content</label>
      <input class="textarea" name="post-content" type="text" value="{{post_content}}" />
    </div>
    <button type="submit" class="button" id="post-btn">Post</button>
  </form>
</section>
<br><br>

{{#if posts.length}}
<section class="post-list">
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
<br><br>

{{#if posts.length}}
  <h2>Recent Posts</h2>
    <ol class="post-list">
      {{#each posts as |post|}}
    <li>
      {{> post-info post }}
    </li>
{{else}}
<h6 class="pb-4 has-text-centered is-italic">there are currently no posts</h6>
{{/each}}
</ol> 
  {{/if}}


<script src="/javascript/add-post.js"></script>

