{{!-- <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>...</title>
     <link rel="stylesheet" href="webpage.css">
     <link rel="stylesheet" media="screen and (max-width:530px)" href="phone.css">
 </head> 
 <body>
     <nav class="navbar">
     <ul>
         <li><a href='#Phones'>Phones</a></li>
         <li><a href='#Computers'>Computers</a></li>
         <li><a href='#Tv'>Tv</a></li>
         <li><a href='#Gameconsole'>Game Consoles</a></li>
     </ul>
     </nav>
     <section id="Phones">
         <div class="main">
             <h1 Class="headings">Phones</h1>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, facere soluta aliquam corporis ad harum quas dicta quasi fugiat ipsam modi delectus, rerum accusantium impedit laborum voluptatem at nesciunt voluptate.
             </p>
         </div>
     </section>

     <section id="Computers">
        <h1 class="headings">Computers</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam in perspiciatis quidem rem, minima, doloribus reiciendis enim atque ad ipsa harum omnis deserunt illum quisquam fugiat fugit officiis nostrum quia.</p>

         </div>
     </section>

     <section id="Tv">
         <h1 class="headings">Tv</h1>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident sed dolores molestiae neque natus, dolorum rerum nulla molestias id reiciendis repudiandae enim, dignissimos labore dolore velit magni obcaecati tempore sunt?</p>

     </section>

     <section id="Game Consoles">
         <h1 class="headings">Game Consoles</h1>

                 <h1 class="headings">...</h1>
             </div>

         </div>
     </section>

     <section id="...">
         <h1 class="headings">...</h1>
         <div class="box">

             <p> <form action="" class="form">
                 <input type="text" name="name" class="input" placeholder="Enter Your Username">
                 <textarea name="msg" id="msg" cols="30" rows="10" placeholder="Enter Your Message"></textarea>
                 <input type="submit" value="SEND" id="send"> </p>
         </div>

     </section>
 </body>
 </html>  --}}